:root {
  --transition-BG-color: all 0.3s ease;
  --main-color: #ecf0f1;
  --secondary-color: #34495e;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(90deg, #e67e22, #f1c40f);
}

#gameStats {
  display: flex;
  justify-content: space-evenly;
  background-color: #2c3e50;
  padding: 2em 1em;
  margin: 0;
  width: 700px;
  margin: auto;
}
#highscore_container h1 {
  color: var(--main-color);
}
#score_container h1 {
  color: var(--main-color);
}

#round_container h1 {
  color: var(--main-color);
}

#game_container {
  border-top: 1px solid#bdc3c7;
  background-color: #2c3e50;
  max-width: fit-content;
  text-align: center;
  margin: auto;
  padding: 2em;
}
#countdown_container h1 {
  color: var(--main-color);
}
#game_buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  padding: 5em 5em;
  transform: rotate(47deg);
}

#game_buttons .box {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: #fff; */
  color: var(--secondary-color);
  font-size: x-large;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50%;

  width: 150px;
  height: 150px;
}
#game_controls ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0 0 1em 0;
}
#start {
  font-size: 30px;
  background-color: #fff;
  padding: 12px 18px;
  cursor: pointer;
  max-width: fit-content;
  border: 1px solid #fff;
  transition: var(--transition-BG-color);
}
#start:hover {
  background-color: black;
  color: #fff;
  transition: var(--transition-BG-color);
}
#reset {
  font-size: 30px;
  background-color: #fff;
  padding: 12px 18px;
  cursor: pointer;
  max-width: fit-content;
  border: 1px solid #fff;
  transition: var(--transition-BG-color);
}
#reset:hover {
  background-color: black;
  color: #fff;

  transition: var(--transition-BG-color);
}
#game_buttons .box-0 {
  background-color: yellow;
  opacity: 0.7;
  transition: var(--transition-BG-color);
}
/* #game_buttons .box-1:hover {
  opacity: 1;
} */
#game_buttons .box-1 {
  background-color: red;
  opacity: 0.7;
  transition: var(--transition-BG-color);
}
/* #game_buttons .box-2:hover {
  opacity: 1;
} */
#game_buttons .box-2 {
  background-color: blue;
  opacity: 0.7;
  transition: var(--transition-BG-color);
}
/* #game_buttons .box-3:hover {
  opacity: 1;
} */
#game_buttons .box-3 {
  background-color: green;
  opacity: 0.7;
  transition: var(--transition-BG-color);
}
/* #game_buttons .box-4:hover {
  opacity: 1;
} */

#credit {
  max-width: fit-content;
  margin: auto;
}
#credit h6 {
  color: #fff;
}
